<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.shop.dao.CartDAO">
	<select id="getCartList" resultType="kr.green.shop.vo.CartVO">
		select * from cart 
			join futsal on ca_fu_num = fu_num
			where ca_valid = 'I' and ca_me_id = #{me_id} 
			order by ca_num desc
	</select>
	<select id="getCartNum" resultType="kr.green.shop.vo.CartVO">
		select * from cart 
			join futsal on ca_fu_num = fu_num
			where ca_valid = 'I' and ca_num = #{ca_num}
	</select>
	<select id="getCart" resultType="kr.green.shop.vo.CartVO">
		select * from cart 
			join futsal on ca_fu_num = ca_num
			where ca_valid = 'I' and ca_num = #{num}
	</select>
	<insert id="insertCart">
		insert into cart(ca_me_id, ca_fu_num, ca_size, ca_count, ca_price)
			values(#{ca_me_id}, #{ca_fu_num}, #{ca_size}, #{ca_count}, #{ca_price})
	</insert>
	<update id="deleteCart">
		update cart set
			ca_valid = 'D'
			where ca_num = #{ca_num}
	</update>
	<update id="deletdOrderCart">
		update cart set
			ca_valid = 'D'
			where ca_num = #{ca_num}
	</update>
	<delete id="erase">
		delete from cart
			where ca_me_id = #{me_id}
	</delete>
	
</mapper>