<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.shop.dao.FutsalDAO">
	<select id="getFutsalList" resultType="kr.green.shop.vo.FutsalVO">
		select * from futsal 
			where fu_valid = 'I'
				<if test="cri.type==0">
					and (fu_type like concat('%',#{cri.search},'%')
					or fu_name like concat('%',#{cri.search},'%')		
					or fu_brand like concat('%',#{cri.search},'%'))
				</if>
				<if test="cri.type==1">
					and fu_type like concat('%',#{cri.search},'%')
				</if>
				<if test="cri.type==2">
					and fu_name like concat('%',#{cri.search},'%')
				</if>
				<if test="cri.type==3">	
					and fu_brand like concat('%',#{cri.search},'%')
				</if>
			order by fu_num desc
			limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="getTotalCount" resultType="int">
		select count(*) from futsal
			where fu_valid = 'I'
				<if test="cri.type==0">
					and (fu_type like concat('%',#{cri.search},'%')
					or fu_name like concat('%',#{cri.search},'%')		
					or fu_brand like concat('%',#{cri.search},'%'))
				</if>
				<if test="cri.type==1">
					and fu_type like concat('%',#{cri.search},'%')
				</if>
				<if test="cri.type==2">
					and fu_name like concat('%',#{cri.search},'%')
				</if>
				<if test="cri.type==3">	
					and fu_brand like concat('%',#{cri.search},'%')
				</if>
	</select>
	<select id="getSearchList" resultType="kr.green.shop.vo.FutsalVO">
		select * from futsal 
			where fu_valid = 'I' and fu_name like concat('%',#{search},'%')
			order by fu_num desc
			limit #{pageStart}, #{perPageNum}
	</select>
	<select id="getSearchTotalCount" resultType="int">
		select count(*) from futsal 
			where fu_valid = 'I' and fu_name like concat('%',#{search},'%')
	</select>	
	<select id="getShoesList" resultType="kr.green.shop.vo.FutsalVO">
		select * from futsal
			where fu_valid = 'I' and fu_type = '풋살화'
			order by fu_num desc
			limit #{pageStart}, #{perPageNum}
	</select>
	<select id="getShoesTotalCount" resultType="int">
		select count(*) from futsal
			where fu_valid = 'I' and fu_type = '풋살화'
	</select>	
	<select id="getClothList" resultType="kr.green.shop.vo.FutsalVO">
		select * from futsal
			where fu_valid = 'I' and fu_type = '의류'
			order by fu_num desc
			limit #{pageStart}, #{perPageNum}
	</select>
	<select id="getClothTotalCount" resultType="int">
		select count(*) from futsal
			where fu_valid = 'I' and fu_type = '의류'
	</select>
	<select id="getNikeList" resultType="kr.green.shop.vo.FutsalVO">
		select * from futsal
			where fu_valid = 'I' and fu_brand = '나이키'
			order by fu_num desc
			limit #{pageStart}, #{perPageNum}
	</select>
	<select id="getNikeTotalCount" resultType="int">
		select count(*) from futsal
			where fu_valid = 'I' and fu_brand = '나이키'
	</select>	
	<select id="getAdidasList" resultType="kr.green.shop.vo.FutsalVO">
		select * from futsal
			where fu_valid = 'I' and fu_brand = '아디다스'
			order by fu_num desc
			limit #{pageStart}, #{perPageNum}
	</select>
	<select id="getAdidasTotalCount" resultType="int">
		select count(*) from futsal
			where fu_valid = 'I' and fu_brand = '아디다스'
	</select>
	<select id="getPumaList" resultType="kr.green.shop.vo.FutsalVO">
		select * from futsal
			where fu_valid = 'I' and fu_brand = '푸마'
			order by fu_num desc
			limit #{pageStart}, #{perPageNum}
	</select>
	<select id="getPumaTotalCount" resultType="int">
		select count(*) from futsal
			where fu_valid = 'I' and fu_brand = '푸마'
	</select>	
	<select id="getFutsal" resultType="kr.green.shop.vo.FutsalVO">
		select * from futsal 
			where fu_num = #{fu_num} and fu_valid = 'I'
	</select>
	<select id="getDirectBuy" resultType="kr.green.shop.vo.FutsalVO">
		select * from futsal join `option`
			on fu_num = op_fu_num
			join cart on fu_num = ca_fu_num
		    where op_size = #{option.op_size} and fu_num = #{futsal.fu_num} and ca_size = #{cart.ca_size}
	</select>
	<insert id="insertGoods" useGeneratedKeys="true" parameterType="kr.green.shop.vo.FutsalVO" keyProperty="futsal.fu_num">
		insert into futsal(fu_type,fu_name,fu_brand,fu_img,fu_info,fu_price)
			values(#{fu_type},#{fu_name},#{fu_brand},#{fu_img}, #{fu_info},#{fu_price})
	</insert>	
	<update id="updateGoods">
		update futsal set
				fu_name = #{fu_name},
				fu_price = #{fu_price},
				fu_stock = #{fu_stock},
				fu_img = #{fu_img},
				fu_info = #{fu_info}
			where fu_num = #{fu_num}	
	</update>
	<update id="deleteGoods">
		update futsal set
				fu_valid = 'D'
			where fu_num = #{fu_num}
	</update>

</mapper>