<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.shop.dao.MemberDAO">
	<insert id="insertMember">
		insert into member(me_id, me_pw, me_name, me_phone, me_birth, me_gender, me_email, me_postnum, me_add1, me_add2, me_add3, me_add4)
			values(#{user.me_id}, #{user.me_pw}, #{user.me_name}, #{user.me_phone}, #{user.me_birth}, #{user.me_gender}, #{user.me_email},
			 #{user.me_postnum}, #{user.me_add1}, #{user.me_add2}, #{user.me_add3}, #{user.me_add4})
	</insert>
	<select id="getMember" resultType="kr.green.shop.vo.MemberVO">
		select * from member where me_id = #{me_id}
	</select>
	<update id="keepLogin">
 		update member set
 			session_id = #{session_id},
 			session_limit = #{session_limit}
 			where me_id = #{me_id}
 	</update>
	<select id="getMemberBySession" resultType="kr.green.shop.vo.MemberVO">
 		select * from member 
 			where session_id = #{session_id} and session_limit > now()
 	</select>
 	<select id="getTotalCount" resultType="int">
 		select count(*) from member
			where
				<if test="cri.type==0">
					me_id like concat('%',#{cri.search},'%')
					or me_name like concat('%',#{cri.search},'%')		
					or me_birth like concat('%',#{cri.search},'%')
				</if>
				<if test="cri.type==1">
					me_id like concat('%',#{cri.search},'%')
				</if>
				<if test="cri.type==2">
					me_name like concat('%',#{cri.search},'%')
				</if>
				<if test="cri.type==3">	
					me_birth like concat('%',#{cri.search},'%')
				</if>
 	</select>
 	 <select id="getMemberList" resultType="kr.green.shop.vo.MemberVO">
		select * from member 
				where
				<if test="cri.type==0">
					me_id like concat('%',#{cri.search},'%')
					or me_name like concat('%',#{cri.search},'%')		
					or me_birth like concat('%',#{cri.search},'%')
				</if>
				<if test="cri.type==1">
					me_id like concat('%',#{cri.search},'%')
				</if>
				<if test="cri.type==2">
					me_name like concat('%',#{cri.search},'%')
				</if>
				<if test="cri.type==3">	
					me_birth like concat('%',#{cri.search},'%')
				</if>
			order by me_authority asc limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
 	<update id="updateMember">
		update member set
				me_pw = #{user.me_pw},
				me_birth = #{user.me_birth},
				me_phone = #{user.me_phone},
				me_gender = #{user.me_gender},
				me_email = #{user.me_email},
				me_postnum = #{user.me_postnum},
				me_add1 = #{user.me_add1},
				me_add2 = #{user.me_add2},
				me_add3 = #{user.me_add3},
				me_add4 = #{user.me_add4},
				me_authority = #{user.me_authority}
			where me_id = #{user.me_id}
	</update>
	<update id="updateMemberAdmin">
		update member set
				me_name = #{user.me_name},
				me_pw = #{user.me_pw},
				me_birth = #{user.me_birth},
				me_phone = #{user.me_phone},
				me_gender = #{user.me_gender},
				me_email = #{user.me_email},
				me_postnum = #{user.me_postnum},
				me_add1 = #{user.me_add1},
				me_add2 = #{user.me_add2},
				me_add3 = #{user.me_add3},
				me_add4 = #{user.me_add4},
				me_authority = #{user.me_authority}
			where me_id = #{user.me_id}
	</update>
	<delete id="memberOut">
		delete from member
			where me_pw = #{user.me_pw}
	</delete>
</mapper>