<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.shop.dao.OrderDAO">
	<insert id="insertOrder">
		insert into `order`(or_me_id, or_title, or_paytype, or_name, or_phone, or_email, or_price, or_message)
			values(#{or_me_id}, #{or_title}, #{or_paytype}, #{or_name}, #{or_phone}, #{or_email}, #{or_price}, #{or_message})
	</insert>
	
</mapper>